<div class="mb-5 pb-always mt-1">

  <div class="row">
    {{!-- Standard Efficiency --}}
    <div class="col-md-6 col-sm-12 mt-3 d-flex align-items-stretch m-0 p-1">
      <div class="card">
          <div class="card-header bg-aesBlue" style="z-index: 2;">
            <h4 class="text-center text-white">Standard Efficiency Systems</h4>
          </div>

            <img class="img-fluid mx-auto" style="margin-top: -1px; z-index: 1;" src="{{standardEfficiencyPhoto}}">

        <div class="card-body mt-1">
          <p class="font-20">{{{pageTwoContent.seParagraphOne}}}</p>
          <p class="font-20">{{{pageTwoContent.seParagraphTwo}}}</p>
        </div>
      </div>
    </div>

    {{!-- High-Efficiency --}}
    <div class="col-md-6 col-sm-12 mt-3 d-flex align-items-stretch m-0 p-1">
      <div class="card">
          <div class="card-header bg-aesBlue" style="z-index: 2;">
            <h4 class="text-center text-white">High-Efficiency Systems</h4>
          </div>
          
            <img class="mx-auto img-fluid" style="margin-top: -1px; z-index: 1;"  src="{{highEfficiencyPhoto}}">

        <div class="card-body mb-0 pb-0">
          <p class="font-20">{{{pageTwoContent.heParagraphOne}}}</p>
        </div>
      </div>
    </div>
  </div>
  
  {{!-- Financing Options --}}
  <div class="row mt-4">
    <div class="col-12">
      <h1 class="mt-2">Financing Options</h1>
      <h4 class="mt-3">Incentives:</h4>
      <ul class="font-20">
        <li>{{{pageThreeContent.incentiveOne}}}</li>
        <li>{{{pageThreeContent.incentiveTwo}}}</li>
        <li>{{{pageThreeContent.incentiveThree}}}</li>
      </ul>
    </div>

    {{!-- Cash Information --}}
    <div class="col-md-4 col-sm-12 d-flex align-items-stretch m-0 p-1"> 
      <div class="card">
        <div class="card-header bg-aesBlue text-center">
          <h3 class="text-white text-center">Cash or personal loan</h3>
        </div>
        <div class="card-body">
          <div class="row mb-5">
            <div class="col-12">
              <div class="col-8 mx-auto">
                <img src="/img-content/cash.png" class="img-fluid" style="height: 120px;">
              </div>
            </div>
          </div>
            <p class="align-self-end">{{{pageThreeContent.pageThreeCash}}}</p>
            
            
          </div>
          <div class="card-footer text-dark">
            <p class="mt-3">{{pageThreeContent.getStartedCash}}</p>
          </div>
      </div>
    </div>
    
    {{!-- Loan Information --}}
  <div class="col-md-4 col-sm-12 d-flex align-items-stretch m-0 p-1">
    <div class="card">
      <div class="card-header bg-aesBlue text-center">
        <h3 class="text-white text-center">AES coordinated loan</h3>
      </div>
      <div class="card-body">
        <div class="row mb-4">
          <div class="col-12">
            <div class="col-7 mx-auto">
              <img src="/img-content/lease.png" class="img-fluid" style="height: 140px;">
            </div>
          </div>
        </div>
        <p>{{{pageThreeContent.pageThreeLoan}}}</p>
      </div>
      <div class="card-footer text-dark">
        <p class="mt-3">{{pageThreeContent.getStartedLoan}}</p>
      </div>
    </div>
  </div>

  {{!-- Lease Information --}}
  <div class="col-md-4 col-sm-12 d-flex align-items-stretch m-0 p-1">
    <div class="card">
        <div class="card-header bg-aesBlue text-center">
          <h3 class="text-white text-center">Lease</h3>
        </div>
      <div class="card-body">
        <div class="row mb-4">
         <div class="col-12">
          <div class="col-6 mx-auto">
            <img src="/img-content/loan.png" class="img-fluid ">
          </div>
        </div>
        </div>
        <p class="mt-5">{{{pageThreeContent.pageThreeLease}}}</p>
      </div>
      <div class="card-footer text-dark">
        <p class="mt-3">{{pageThreeContent.getStartedLease}}</p>
      </div>
    </div>
  </div>

    {{!-- Financial Links --}}
    <div class="col-12 financial__links">
        <div class="financial__links__href">
          <ul>
            <li>{{{pageThreeContent.pageThreeLinkOne}}}</li>
            <li>{{{pageThreeContent.pageThreeLinkTwo}}}</li>
          </ul>
        </div>  
      </div>
    </div>

  </div>

</div>