<div class="page leading-relaxed text-gray-800" id="page_{{{_fid_3}}}">
  <div class="container mx-auto pb-always pb-always print:px-10">
    {{! Offering Header }}
    <div class="flex justify-between items-start">
      <div>
        <h2 class="text-xl font-semibold print:text-xl">
          Energy Saving Solution:
          {{{_fid_817}}}
        </h2>
        <p>
          {{{_fid_312}}}
        </p>
        <p>
          {{{_fid_251}}}
        </p>
      </div>
      <img class="w-56" src="https://aes.quickbase.com/up/bkdfitsjr/a/r23606/e6/v0?aeslogo.png"
        alt="AES Logo" />
    </div>
    <div class="flex -mt-2">
      <div class="w-5/12">
        <p class="font-bold mt-5">
          Electrical Additions
        </p>
        <ul class="list-none mb-5">
          <li>
            {{{_fid_963}}}
          </li>
        </ul>
        {{! Image and graph }}
        <img class="w-full" src="{{{_fid_373}}}" alt="" />
      </div>
      {{! Right Side }}
      <div class="flex-1 flex flex-col ml-10">
        <div class="mb-10">
          {{> offering/layout/offering/generator-backup}}
        </div>
        <div class="border-b-2 border-gray-500 my-4"></div>
        <div>
          <p class="font-bold">
            Equipment
          </p>
          <ul class="list-none">
            <li>
              {{{generator._fid_155}}}
            </li>
            <li>
              {{{generator._fid_47}}}
            </li>
          </ul>
        </div>
        <div class="flex items-center">
          <div class="text-center">
            <h2 class="text-5xl">
              {{{generator._fid_143}}}
            </h2>
            <p>
              {{{generator._fid_257}}}
            </p>
          </div>
          <a href="{{{generator._fid_272}}}">
            <img class="ml-10" src="{{{generator._fid_198}}}" alt="Product Image"
              style="max-width: 300px;" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>