<div class="disclaimer pb-always">
  <div class="disclaimer__title">
    <h1 class="disclaimer__h1">Disclaimer</h1>
    <div class="disclaimer__border"></div>
  </div>
  
  <p class="disclaimer__p">{{{disclaimer._fid_55}}}</p>
  <p class="disclaimer__p">{{{disclaimer._fid_56}}}</p>
  <p class="disclaimer__p">{{{disclaimer._fid_57}}}</p>
  <p class="disclaimer__p">{{{disclaimer._fid_58}}}</p>
  <p class="disclaimer__p">{{{disclaimer._fid_59}}}</p>
</div>